@model IEnumerable<Termek>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Elnevezes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CsomEgyseg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Darabszam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Elnevezes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CsomEgyseg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Darabszam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
